
body{
    background-color: rgb(114, 81, 146);
}



.inicio{
    display: grid;
    grid-template-rows: auto, auto;

}

.principal{
    grid-row: 2/3;
}



.nav.justify-content-center{
    background-color: black;

}


.menu {
    font-size: 15px;
    background-color: black;
      color: antiquewhite;
}

.lista {
    display: inline-flex;
    
}

#consulta{
    margin-top: 5px;
    height: 20px;
    width: 200px;
}


.rojo {
    background-color: red;
}

#agregar.boton-agregar{
    width: 150px;
    height: auto;
}


.cristales{
    background-color: rgb(114, 81, 146);
    display: grid;
    grid-template-columns: min-content;
    text-align: center;
}

.piedras{
    grid-column: none;
    width: 500px;
}

#contenedorProductos{
    background-color: rgb(114, 81, 146);
    text-align: center;
}

.boton-agregar{
    width: 100px;
    height: 20px;
}

.img{
    width: 300px;
    margin: 10px;
}

.nombrecristal{
    background-color: antiquewhite ;
    margin: 10px;
    height: 50px;
    text-align: center;
}




/* contacto */

.contacto{
    background-color: rgb(114, 81, 146);
   
}

.formulario{
    width: 400px;
    margin: auto;
    max-width: 100%;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0 0 20px;
    position: relative;

}

.formularioTitulo{
    text-align: center;
    margin-top: 0;
    
}


.formularioEnviar {
    display:  block;
    width: 100%;
    border:  1px solid;
    font-size:  1em;
    margin: inherit;
}

.formularioInput{
    padding: 20px;
    margin: 5px;
    width: -webkit-fill-available;
}

.formularioLabel{
    padding-left:  15px;
}


#productosContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 20px;
}


.footer{
    display: flex;

}

.table__img{
    width: 200px;
    height: 200px;
}


.tab-content>.active {
    display: block;
    height: 500px;}


