
body{
    background-color: rgb(114, 81, 146);
}

.inicio{
    display: grid;
    grid-template-rows: auto, auto;

}

.principal{
    grid-row: 2/3;
}



.menu {
    font-size: 15px;
    background-color: black;
      color: antiquewhite;
}

.lista {
    display: inline-flex;
    
}

#consulta{
    margin-top: 5px;
    height: 20px;
    width: 200px;
}


.rojo {
    background-color: red;
}

#agregar.boton-agregar{
    width: 150px;
    height: auto;
}


/* ------------------------------------------------------------- */

/* cristales */

.cristales{
    background-color: rgb(114, 81, 146);
    display: grid;
    grid-template-columns: min-content;
    text-align: center;
}

.piedras{
    grid-column: none;
    width: 500px;
}

#contenedorProductos{
    background-color: rgb(114, 81, 146);
    text-align: center;
}

.boton-agregar{
    width: 100px;
    height: 20px;
}

.img{
    width: 300px;
    margin: 10px;
}

.nombrecristal{
    background-color: antiquewhite ;
    margin: 10px;
    height: 50px;
    text-align: center;
}






/* contacto */

.contacto{
    background-color: rgb(114, 81, 146);
   
}



